    .device_infor{
        width: 99%;
        height: 34px;
        margin-top: 6px;
        border-bottom: solid 1px #d3dbde;
    }
    .device_infor ul .common_dec_add{
        width: 110px;
        height: 34px;
        background: url('../images/itabbg1.png') repeat;
        border-right: solid 1px #d3dbde;
        border-left: solid 1px #d3dbde;
        border-bottom: solid 1px #fff;
    }
    .device_infor ul li a{
        float: left;
        height: 34px;
        width: 110px;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
    }
	.dev_add_form{
        width: 99%；
        margin-left:10px;
       /* border: 1px solid red;*/
    }
    .dev_add_form ul li{
        height: 34px;
        line-height: 34px;
        margin-top: 30px;
        margin-left: 46px;
       
    }
	.dev_add_form ul li .input{
        height: 32px;
        line-height: 32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        text-indent: 10px;
        background: url('../images/inputbg.gif') repeat-x;
    }
    .common_add_jibie{
        position:relative;
        top: -34px;
        left: 100px;
        z-index:1;
        width:220px;
        height:32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        overflow:hidden;
        cursor:pointer;
    }
    #common_add_dec_jibie{
        width:222px;
        height:34px;
        opacity: 0;
        position:relative;
        top:-67px;
        left:100px;
        z-index:22;
        border:none;
        cursor: pointer;
    }
    .common_add_jibie2{
        position:relative;
        top: -104px;
        left: 370px;
        z-index:1;
        width:220px;
        height:32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        overflow:hidden;
        cursor:pointer;
    }
    #common_add_dec_jibie2{
        width:222px;
        height:34px;
        opacity: 0;
        position:relative;
        top:-137px;
        left:370px;
        z-index:22;
        border:none;
        cursor: pointer;
    }

	.shuixing_add{
		margin-top: 100px;
		margin-left: 70px;
		width:370px;
	}

    .shuixing_add .shuxing{
    	width: 220px;
        height: 32px;
        line-height: 32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        text-indent: 10px;
        background: url('../images/inputbg.gif') repeat-x;
    }
    .shuixing_add .span{
        float: left;
        width: 90px;
        height: 34px;
        text-align: left;
        line-height: 34px;
        margin-left: 0px;
        margin-left: -16px;
    }
    .shuxing_btn{
        width:90px;
        height:32px;
        text-align: center;
        line-height:32px;
        background-color:#3B95C8;
        color:#fff;
        border-radius:4px;
        border:none;
        margin-left: 40px;
        margin-top: 80px;
    }
    .shuxing_btn:hover{
        cursor: pointer;
    }
    .shuixing_delete{
    	margin-top: 87px;
    }
    .shuixing_delete .common_add_jibie{
        position:relative;
        top: -19px;
        left: 144px;
        z-index:1;
        width:220px;
        height:32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        overflow:hidden;
        cursor:pointer;
    }
    .shuixing_delete #common_add_dec_jibie{
        width:222px;
        height:34px;
        opacity: 0;
        position:relative;
        top:-113px;
        left:144px;
        z-index:22;
        border:none;
        cursor: pointer;
    }
    .shuixing_delete .shuxing_btn{
        width:90px;
        height:32px;
        text-align: center;
        line-height:32px;
        background-color:#3B95C8;
        color:#fff;
        border-radius:4px;
        border:none;
        margin-left: -115px;
        margin-top: 61px;
    }
    .shuixing_delete .shuxing_btn1{
        width:90px;
        height:32px;
        text-align: center;
        line-height:32px;
        background-color:#3B95C8;
        color:#fff;
        border-radius:4px;
        border:none;
        margin-left: 40px;
        margin-top: 61px;
    }
    .input_shuxingzhi{
    	position:relative;
        top:-68px;
        left:144px;
    	width:220px;
        height:32px;
        border-top: solid 1px #a7b5bc;
        border-left: solid 1px #a7b5bc;
        border-right: solid 1px #ced9df;
        border-bottom: solid 1px #ced9df;
        text-indent: 10px;
    }